<div class="ui container">
    <%= link_to "Atras", :back %>
    <h1 class="ui dividing header">Reporte de resumen de ingresos</h1>
    <h2 class="ui header">Parametros</h2>
    <p>Fecha Inicial: <%= @fecha_inicial %> - Fecha Final: <%= @fecha_final %></p>
    <%= link_to "Descargar PDF", new_tree_path, class: "ui red button" %>
    <%= link_to "Descargar Excel", 
        income_summary_index_path(format: :xlsx, fecha_inicial: @fecha_inicial, fecha_final: @fecha_final, page: 1), 
        class: "ui green button" %>

    <table class="ui single line table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Descripción</th>
                <th>Actividad</th>
                <th>Fecha</th>
                <th>Concepto</th>
            </tr>
        </thead>
        <tbody>
            <% i = 1 %>
            <% cops = 0 %>
            <% @incomes.each do |income| %>

                  <tr> 
                    <td> <%= i %> </td>               
                    <td> <%= income.descripcion %> </td>
                    <td> <%= income.tipo %> </td>
                    <td> <%= income.fecha_inicio %> </td>
                    <td> $<%= '%.2f'%income.concepto %> </td>
                    <%# <td>$<%= '%.2f'%tree.precio %</td> %>
                </tr>
                <% cops += income.concepto %>
                <% i += 1 %>
            <% end %>

                <tr>
                    <td colspan="4">Total:</td>
                    <td> $<%= '%.2f'%cops %> </td>
                </tr>

        </tbody>
    </table>

        <%= page_entries_info @incomes %>
        <%= will_paginate @incomes%>

</div>
