<div class="ui raised very padded text container segment">
  <%= link_to "Atras", :back %>
  <h2 class="ui header">Editando Usuario</h2>
  <div class="ui form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.hidden_field :id %>

      <div class="field">
        <%= f.label :nombre %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :apellido %><br />
        <%= f.text_field :lastname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :nombre_de_usuario %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :contrase単a %> <i>(si no quieres cambiarlo dejalo en blanco)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> caracteres minimos</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :confirmar_contrase単a %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :contrase単a_actual %> <i>(su contrase単a actual es necesaria para confirmar sus cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="ui form">
        <div class="grouped fields">
          <label>Rol</label>
          <div class="field">
            <div class="ui checkbox">
              <%= f.check_box :administrator_rol, class:"hidden"%>
              <label>Administrador</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <%= f.check_box :executive_role, class: "hidden"%>
              <label>Directiva</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <%= f.check_box :subexecutive_role, class: "hidden"%>
              <label>Subdirectiva</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <%= f.check_box :user_role, class: "hidden"%>
              <label>Usuario</label>
            </div>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Actualizar", class: "ui primary button" %>
      </div>
    <% end %>
  </div>
</div>
