<div class="ui container">

    <%= link_to "Nuevo usuario", new_user_registration_path, class: "ui primary button" %>

    <table class="ui single line table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nombre usuario</th>
                <th>E-mail</th>
                <th>Fecha de creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                
            <% @users.each do |user| %>

                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.lastname %></td>
                    <td><%= user.username %></td>
                    <td> <%= user.email %> </td>
                    <td><%= user.created_at%></td>
                    <td>
                        <%= link_to raw('<i class="large edit icon"></i>'), edit_user_registration_path(user) %>
                        <%= link_to raw('<i class="large erase icon"></i>'), cancel_user_registration_path(user) %>
                    </td>
                </tr>

            <% end %>

        </tbody>
    </table>


</div>