<div class="ui container">

    <%= link_to "Nuevo usuario", new_user_registration_path, class: "ui primary button" %>

    <table class="ui single line table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nombre usuario</th>
                <th>E-mail</th>
                <th>Fecha de creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <% @users.each do |user| %>

                <% if user.is_active %>
                  <tr>
                <% else %>
                  <tr class="disabled">
                <% end %>

                    <td><%= user.name %></td>
                    <td><%= user.lastname %></td>
                    <td><%= user.username %></td>
                    <td> <%= user.email %> </td>
                    <td><%= user.created_at%></td>
                    <td>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Editar" data-inverted="" data-position="right left" data-offset="50">
<i class="large edit icon"></i></div>'), edit_user_registration_path(user) %>
                        <% if user.is_active %>
                            <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Eliminar" data-inverted="" data-position="right left">
<i class="large erase icon"></i></div>'), cancel_user_registration_path(user) %>
                        <% end %>
                    </td>
                </tr>

            <% end %>

        </tbody>
    </table>


</div>
