<div class="ui raised very padded text container segment">
  <%= link_to "Atras", :back %>
  <h2 class="ui header">Registrate</h2>
  <div class="ui form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :nombre %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :apellido %><br />
        <%= f.text_field :lastname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :nombre_de_usuario %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :contraseña %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres minimos)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :cofirmar_contraseña %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="ui form">
        <div class="grouped fields">
          <label>Rol</label>
          <div class="field">
            <div class="ui checkbox">
              <%= f.check_box :administrator_rol, class:"hidden"%>
              <label>Administrador</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <%= f.check_box :executive_role, class: "hidden"%>
              <label>Directiva</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <%= f.check_box :subexecutive_role, class: "hidden"%>
              <label>Subdirectiva</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <%= f.check_box :user_role, class: "hidden"%>
              <label>Usuario</label>
            </div>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Guardar", class: "ui primary button" %>
      </div>

    <% end %>
  </div>
</div>