<div class="ui raised very padded text container segment">
    <%= link_to "Atras", :back %>
    <h2 class="ui header">Editar Recurso Arbol</h2>
    <div class="ui form">
        <%= form_for(@resource_activities_tree) do |f| %>

        <%= f.hidden_field :id %>

        <div class="field">
            <%= f.label :tree %><br />
            <%= f.select :tree_id, options_from_collection_for_select(Tree.all, :id, :nombre_comun),
            :include_blank => 'Seleccionar Arbol' %>
        </div>

        <div class="field">
            <%= f.label :resource_activity %><br />
            <%= f.select :resource_activity_id, options_from_collection_for_select(ResourceActivity.all, :id, :descripcion),
            :include_blank => 'Seleccionar Actividad' %>
        </div>
      
        <div class="field">
            <%= f.label :cantidad %><br />
            <%= f.number_field :cantidad %>
        </div>


        <div class="actions">
            <%= f.submit "Guardar", class: "ui primary button" %>
        </div>

        <% end %>
    </div>
</div>