<div class="ui container">

    <%= link_to "Atras", :controller=>"resource_activities", :action=>"index", :activity_id=>params[:activity_id] %>

    <table class="ui single line fixed table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Cantidad</th>
                <th>Arbol</th>
                <th>Recurso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <% @resource_activities_trees.each do |resource_activities_tree| %>

                  <tr>
                    <td><%= resource_activities_tree.id %></td>
                    <td><%= resource_activities_tree.cantidad %></td>
                    <td><%= resource_activities_tree.tree.nombre_comun %></td>
                    <td><%= resource_activities_tree.resource_activity.descripcion %></td>
                    <td>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Editar" data-inverted=""
                        data-position="right left" data-offset="50"><i class="large edit icon"></i></div>'),
                        edit_resource_activities_tree_path(resource_activities_tree, :activity_id=>resource_activities_tree.resource_activity.activity_id) %>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Eliminar" data-inverted=""
                        data-position="right left"><i class="large erase icon"></i></div>'), resource_activities_tree_path(resource_activities_tree,
                         :resource_activity_id=>resource_activities_tree.resource_activity_id,
                         :activity_id=>resource_activities_tree.resource_activity.activity_id), method: :delete %>
                    </td>
                </tr>

            <% end %>

        </tbody>
    </table>


</div>
