<div class="ui raised very padded text container segment">
    <%= link_to "Atras", :back %>
    <h2 class="ui header">Nuevo Recurso de Arbol</h2>
    <div class="ui form">
        <%= form_for(@resource_activities_tree) do |f| %>

          <%= f.hidden_field :resource_activity_id, :value=>@resource_activity_id %>
          <%= f.hidden_field :activity_id, :value=>@activity_id %>

        <div class="field">
            <%= f.label :tree %><br />
            <%= f.select :tree_id, options_from_collection_for_select(Tree.all, :id, :nombre_comun),
            :include_blank => 'Seleccionar Arbol' %>
        </div>

        <div class="field">
            <%= f.label :cantidad %><br />
            <%= f.number_field :cantidad %>
        </div>

        <div class="actions">
            <%= f.submit "Guardar", class: "ui primary button" %>
        </div>

        <% end %>
    </div>
</div>
