<div class="ui raised very padded text container segment">
    <%= link_to "Atras", :back %>
    <h2 class="ui header">Editar contacto</h2>
    <div class="ui form">
        <%= form_for(@activity_contact) do |f| %>

        <%= f.hidden_field :id %>
        <%= f.hidden_field :activity_id %>

        <div class="field">
            <%= f.label :contact %><br />
            <%= f.select :contact_id, options_from_collection_for_select(Contact.all, :id, :nombre,@activity_contact.contact_id),
            :include_blank => 'Seleccionar Contacto' %>
        </div>

        <div class="actions">
            <%= f.submit "Guardar", class: "ui primary button" %>
        </div>

        <% end %>
    </div>
</div>

<%= javascript_include_tag "validate/activity_contact.js" %>
