<div class="ui container">

    <%= link_to "Atras", :controller=>"meetings", :action=>"index" %>

    <table class="ui fixed table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Punto a tratar</th>
                <th>Descripción</th>
                <th>Acuerdo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <% @diaries.each do |diary| %>

                  <tr>
                    <td><%= diary.id %></td>
                    <td><%= diary.discusion %></td>
                    <td><%= diary.descripcion %></td>
                    <td><%= diary.acuerdo%></td>
                    <td>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Editar" data-inverted=""
                        data-position="right left" data-offset="50"><i class="large edit icon"></i></div>'),
                        edit_diary_path(diary, :meeting_id=>diary.meeting_id) %>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Eliminar" data-inverted=""
                         data-position="right left"><i class="large erase icon"></i></div>'),
                          diary_path(diary, :meeting_id=>diary.meeting_id), method: :delete %>
                    </td>
                </tr>

            <% end %>

        </tbody>
    </table>


</div>
