<nav>
    <div class="name">
         <%= image_tag "logo_01.png", :alt => "ALECU", :title => "ALECU", :class => "ui avatar image"%>
         <span>SIGA</span>
    </div>
    <ul>
        <li>
            <%= link_to "Inicio", root_path, method: :get %> 
        </li>
        <li>
            <span>Gestionar Árboles</span>
            <ul>
                <li> 
                    <%= link_to "Árbol", trees_path, method: :get %> 
                </li>
                <li> 
                    <%= link_to "Ingreso árboles", detail_incomes_path, method: :get %> 
                </li>
            </ul>
        </li>
        <li>
            <%= link_to "Zona", zones_path, method: :get %>
        </li>
        <li>
            <%= link_to "Actividad", activities_path, method: :get %>
        </li>
         <li> 
            <%= link_to "Recaudación", collections_path, method: :get %> 
        </li>
        <% if can? :manage, Resource %>
            <li>
                <span>Opcion 3</span>
                <ul>
                    <li>
                        <a href="">Opcion 3.1</a>
                    </li>
                    <li>
                        <a href="">Opcion 3.2</a>
                    </li>
                </ul>
            </li>
        <% end %>
        <li>
            <a href="">Opcion 4</a>
        </li>
         <% if can? :manage, Resource %>
            <li>
                <%= link_to "Gestionar Usuarios", show_users_registration_path, method: :get %>
            </li>
        <% end %>
        <li>
            <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
        </li>
    </ul>
</nav>