<div class="ui raised very padded text container segment">
    <%= link_to "Atras", :back %>
    <h2 class="ui header">Editar Recurso</h2>
    <div class="ui form">
        <%= form_for(@resource_activity) do |f| %>

        <%= f.hidden_field :id %>
        <%= f.hidden_field :activity_id %>

        <div class="field">
            <%= f.label :descripción %><br />
            <%= f.text_area :descripcion %>
        </div>

        <div class="field">
            <%= f.label :Precio %><br />
            <%= f.number_field :precio, min: 0.01, step: 0.01, autofocus: true %>
        </div>


        <div class="field">
            <%= f.label :Cantidad %><br />
            <%= f.number_field :cantidad %>
        </div>

        <div class="actions">
            <%= f.submit "Guardar", class: "ui primary button" %>
        </div>

        <% end %>
    </div>
</div>
