<div class="ui container">

    <%= link_to "Atras", :controller=>"activities", :action=>"index" %>

    <table class="ui celled padded table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Actividad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <% @resource_activities.each do |resource_activity| %>

                  <tr>
                    <td><%= resource_activity.id %></td>
                    <td><%= resource_activity.descripcion %></td>
                    <td><%= '%.2f'%resource_activity.precio %></td>
                    <td><%= resource_activity.cantidad %></td>
                    <td><%= resource_activity.activity.descripcion %></td>
                    <td>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Editar" data-inverted=""
                        data-position="right left" data-offset="50"><i class="large edit icon"></i></div>'),
                         edit_resource_activity_path(resource_activity) %>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Eliminar" data-inverted=""
                        data-position="right left"><i class="large erase icon"></i></div>'),
                         resource_activity_path(resource_activity, :activity_id=>resource_activity.activity_id), method: :delete %>
                         <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Especificar árboles" data-inverted=""
                         data-position="right left"><i class="large tree icon"></i></div>'),
                          new_resource_activities_tree_path(:resource_activity_id=>resource_activity.id) %>
                         <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Ver árboles" data-inverted=""
                         data-position="right left"><i class="large browser icon"></i></div>'),
                          :controller=>"resource_activities_trees", :action=>"index" %>
                    </td>
                </tr>

            <% end %>

        </tbody>
    </table>


</div>
