<div class="ui raised very padded text container segment">
    <%= link_to "Atras", :controller=>"meetings", :action=>"index" %>
    <h2 class="ui header">Agregar miembro</h2>
    <div class="ui form">
        <%= form_for(@meeting_member) do |f| %>

        <%= f.hidden_field :meeting_id, :value=>@meeting_id %>

        <div class="field">
            <%= f.label :miembro %><br />
            <%= f.select :member_id, options_from_collection_for_select(@members, :id, :nombre_completo),
                :include_blank => 'Seleccionar miembro' %>
        </div>

        <div class="actions">
            <%= f.submit "Guardar", class: "ui primary button" %>
        </div>

        <% end %>
    </div>
</div>

<%= javascript_include_tag "validate/meeting_member" %>
