<div class="ui container">

    <%= link_to "Nuevo Árbol", new_tree_path, class: "ui primary button" %>

    <table class="ui single line table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre común</th>
                <th>Nombre cientifico</th>
                <th>Observaciones</th>
                <th>Cantidad</th>
                <th>Precio</th>                
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                
            <% @trees.each do |tree| %>

                  <tr> 
                    <td><%= tree.id %></td>               
                    <td><%= tree.nombre_comun %></td>
                    <td><%= tree.nombre_cientifico %></td>
                    <td><%= tree.observaciones %></td>
                    <td><%= tree.cantidad %></td>
                    <td>$<%= '%.2f'%tree.precio %></td>
                    <td>
                        <%= link_to raw('<i class="large edit icon"></i>'), edit_tree_path(tree) %>
                        <%= link_to raw('<i class="large erase icon"></i>'), tree_path(tree), method: :delete %>
                    </td>
                </tr>

            <% end %>

        </tbody>
    </table>


</div>
