<div class="ui container">

    <%= link_to "Atras", :controller=>"trees", :action=>"index" %>

    <table class="ui fixed table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Arbol</th>
                <th>Acciones</th>
             </tr>
        </thead>
        <tbody>

            <% @detail_incomes.each do |detail_income| %>

                  <tr>
                    <td><%= detail_income.id %></td>
                    <td><%= detail_income.cantidad %></td>
                    <td>$<%= '%.2f'%detail_income.precio %></td>
                    <td><%= detail_income.tree.nombre_comun %></td>
                    <td>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Editar" data-inverted=""
                        data-position="right left" data-offset="50"><i class="large edit icon"></i></div>'),
                         edit_detail_income_path(detail_income, :tree_id=>detail_income.tree_id) %>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Eliminar" data-inverted=""
                         data-position="right left"><i class="large erase icon"></i></div>'),
                          detail_income_path(detail_income, :tree_id=>detail_income.tree_id), method: :delete %>
                    </td>
                </tr>

            <% end %>

        </tbody>
    </table>


</div>
