<div class="ui container">

    <%= link_to "Nueva zona", new_zone_path, class: "ui primary button" %>

    <table class="ui single line table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Área</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <% @zones.each do |zone| %>

                  <tr>
                    <td><%= zone.id %></td>
                    <td><%= zone.nombre %></td>
                    <td> <%= zone.area %> m<sup>2</sup></td>
                    <td>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Editar" data-inverted="" data-position="right left" data-offset="50">
<i class="large edit icon"></i></div>'), edit_zone_path(zone) %>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Eliminar" data-inverted="" data-position="right left">
<i class="large erase icon"></i></div>'), zone_path(zone), method: :delete %>
                    </td>
                </tr>

            <% end %>

        </tbody>
    </table>
<%= link_to "Atras", :back %>

</div>
