<div class="ui container">

    <%= link_to "Nueva Actividad", new_activity_path, class: "ui primary button" %>

    <table class="ui fixed table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Fecha inicio</th>
                <th>Fecha Fin</th>
                <th>Zona</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <% @activities.each do |activity| %>

                  <tr>
                    <td><%= activity.id %></td>
                    <td><%= activity.tipo %></td>
                    <td><%= activity.descripcion %></td>
                    <td><%= activity.fecha_inicio %></td>
                    <td><%= activity.fecha_fin%></td>
                    <% if activity.zone.blank? %>
                      <td>N/A</td>
                    <% else %>
                      <td><%= activity.zone.nombre%></td>
                    <% end %>
                    <td>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Editar" data-inverted="" data-position="right left" data-offset="50">
<i class="large edit icon"></i></div>'), edit_activity_path(activity) %>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Eliminar" data-inverted="" data-position="right left">
<i class="large erase icon"></i></div>'), activity_path(activity), method: :delete %>
                    </td>
                </tr>

            <% end %>

        </tbody>
    </table>
        <%= link_to "Atras", :back %>


</div>
