<div class="ui container">

    <%= link_to "Nuevo cargo", new_charge_path, class: "ui primary button" %>

    <table class="ui fixed table ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <% @charges.each do |charge| %>

                  <tr>
                    <td><%= charge.id %></td>
                    <td><%= charge.nombre %></td>
                    <td><%= charge.descripcion %></td>
                    <td>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Editar" data-inverted="" data-position="right left" data-offset="50">
<i class="large edit icon"></i></div>'), edit_charge_path(charge) %>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Eliminar" data-inverted="" data-position="right left">
<i class="large erase icon"></i></div>'), charge_path(charge), method: :delete %>
                    </td>
                </tr>

            <% end %>

        </tbody>
    </table>


</div>
