<!DOCTYPE html>
<html>

<head>
  <title>SIGA</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "logo_01.png"%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <% if user_signed_in? %>
    <%= render "partials/navigation"%>
  <% end %>

  <div class="container">

    <% if notice %>
      <p class="ui message">
        <%= notice %>
      </p>
    <% end %>

    <% if alert %>
      <p class="ui message">
        <%= alert %>
      </p>
    <% end %>

    <%= yield %>
  </div>

  <footer>
    <div class="ui two column center aligned grid">
      <div class="column">
        <%= image_tag "logo_01.png", :alt => "ALECU", :title => "ALECU", :class => "ui avatar mini image"%>
        <span>Asociación Local Ecológica de Comunidades Unidas</span>
      </div>
      <div class="column">
        <%= image_tag "Logo_UES_blanco.png", :alt => "UES", :title => "UES", :class => "ui avatar mini image"%>
        <span>SIGA Copyright (c) 2017 Copyright Holder All Rights Reserved.</span>
      </div>
    </div>
  </footer>

</body>

</html>
