<div class="ui container">

    <%= link_to "Atras", :controller=>"general_meetings", :action=>"index" %>

    <table class="ui fixed table ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Primer nombre</th>
                <th>Segundo nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>DUI</th>
                <th>Cargo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <% @members.each do |member| %>

                  <tr>
                    <td><%= member.id %></td>
                    <td><%= member.primer_nombre %></td>
                    <td><%= member.segundo_nombre %></td>
                    <td><%= member.primer_apellido%></td>
                    <td><%= member.segundo_apellido%></td>
                    <td><%= member.dui%></td>
                    <td><%= member.charge.nombre%></td>
                    <td>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Editar" data-inverted="" data-position="right left" data-offset="50">
                        <i class="large edit icon"></i></div>'), edit_member_path(member) %>
                        <%= link_to raw('<div class="ui mini circular icon button" data-tooltip="Eliminar" data-inverted="" data-position="right left">
                        <i class="large erase icon"></i></div>'), member_path(member), method: :delete %>
                    </td>
                </tr>

            <% end %>

        </tbody>
    </table>


</div>
