<div class="ui container">

    <%= link_to "Nuevo miembro", new_member_path, class: "ui primary button" %>

    <table class="ui fixed single line table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Primer nombre</th>
                <th>Segundo nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>DUI</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <% @members.each do |member| %>

                  <tr>
                    <td><%= member.id %></td>
                    <td><%= member.primer_nombre %></td>
                    <td><%= member.segundo_nombre %></td>
                    <td><%= member.primer_apellido%></td>
                    <td><%= member.segundo_apellido%></td>
                    <td><%= member.dui%></td>
                    <td>
                        <%= link_to raw('<i class="large edit icon"></i>'), edit_member_path(member) %>
                        <%= link_to raw('<i class="large erase icon"></i>'), member_path(member), method: :delete %>
                    </td>
                </tr>

            <% end %>

        </tbody>
    </table>


</div>
